body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #424242;
}

header, footer, div, main {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.responsive>img{
  max-width: 100%;
  height: auto;
}

.list-inline>li{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

/** Header **/

header {
  min-height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.header_div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  align-items: center
}

.header_logo {
  height: 60px;
  vertical-align: top;
  float: left;
}

.header_link {
  font-weight: bold;
  font-size: 1.2em;
  margin: 1.5em 1em;
  display: inline-block;
  color: #212121;
}

.header_car {
  height: 30px;
  vertical-align: middle;
}

span.quantity {
    font-weight: bold;
    font-size: 1em;
    color: #4e9c54;
}

/** Main **/

main {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.col-flex-order-data {
  width: 55%;
  text-align: center;
}

.col-flex-summary-content {
  width: 45%;
  text-align: center;
}
 
.accordion {
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:1px;
    margin: 20px;
}
 
.accordion-section-title {
    box-sizing: border-box;
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#58514ac4;
    font-size:1.1em;
    color:#fff;
    border-bottom:none;
    text-align: left;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#000000;
    text-decoration:none;
}

.accordion-section-content {
    padding:15px;
}

#payment-data {
  display: none;
}

/** Form **/

form {
  background: white;
  text-align: left;
  padding: 15px;
}

form-flex {
  padding: 5px;
}

.form-flex li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.form-flex li select,
.form-flex li input {
  padding: 5px;
  border: 1px solid #E0E0E0;
  width: 100%;
  font-size: 12px;
}

.form-flex li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #4e9c54;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
}

.form-flex li button:hover {
  background: #000000;
}

.share {
  margin-right: 2px; 
  width: 46.5% !important;
}

.share3 {
  margin-right: 2px; 
  width: 30% !important;
}

.share4 {
  margin-right: 2px; 
  width: 22% !important;
}

label.hidden>input {
  visibility: hidden;
  display: none;
}

label.hidden>input + svg {
  cursor: pointer;
  padding: 5px;
  align-content: right;
}

label.hidden>input:checked + svg {
  border: 2px solid #4e9c54;
}

label.hidden>input + img {
  cursor: pointer;
  padding: 5px;
  align-content: right;
}

label.hidden>input:checked + img {
  border: 2px solid #4e9c54;
}

/** Car Items **/

#car_quantity_h{
  padding-left: 7px;
  font-size: 13px;
  font-weight: bold;
}

.car-item {
  padding: 10px;
  border-bottom: 1px solid #4e9c54;
}

.car-item-image {
  width: 30%;
  vertical-align: middle;
}

.car-item-data {
  width: 60%;
}

.car-item-data {
  word-wrap: break-word;
}

.car-item-data>div {
  padding: 5px;
  text-align: left;
}

span.item-price,
span.item-subtotal {
  display: block;
  float: right;
}

.item-name {
  font-size: 13px;
  font-weight: bold;
  color: #4e9c54;
  text-align: center !important;
}

.item-quantity {
  width: 40%;
}

.erase {
  text-align: center !important;
  width: 40%;
}

.erase-div {
  color: #4C4C4C;
}

.erase>label {
  color: #4C4C4C;
  font-size: 13px;
  padding: 7px;
  font-weight: bold;
}

/** Summary **/

.summary>div{
  width: 100%;
  text-align: left;
  padding: 8px;
}

span#subtotal,
span#shipping-pay,
span#total {
  display: block;
  float: right;
}

.subtotal>span,
.shipping-pay>span {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.subtotal>label,
.shipping-pay>label {
  font-size: 14px;
  font-weight: bold;
}

.total>label{
  font-size: 25px;
  font-weight: bold;
  color: #ff253a;
}

.total>span{
  font-size: 23px;
  font-weight: bold;
  color: #000;
}

/** Footer **/

footer {
  border-top: 1px solid #E0E0E0;
  width: 100%;
  background: #FFFFFF;
}

footer h4 {
  text-align: center;
  color: #4e9c54;
}

footer ul>li a:link {
  color: #4C4C4C;
  text-decoration: none;
}

footer ul>li a:visited {
  color: #4C4C4C;
  text-decoration: none;
}

footer ul>li a:hover {
    color: black;
    font-weight: bold;
    background-color: transparent;
}

.footer_div {
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

.col-flex {
  width: 32%;
  padding: 20px;
  text-align: center;
}

.row {
  padding-bottom: 30px;
}

.center {
  text-align: center;
}