.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 850px) {
  main, .content, .footer_div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 850px) {
  header {
    padding-left: 30px;
    padding-right: 50px;
  }
}

@media (max-width: 500px) {
  .flex-grid {
    display: block;
  }
  .col-flex, .col-flex-order-data, .col-flex-summary-content {
    width: 100% !important; 
    margin: 0 0 0 0;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .share {
    width: 100% !important; 
    margin-top: 10px;
    text-align: center;
  }
  .form-flex li input {
    text-align: center;
  }
  header {
    padding-left: 30px;
    padding-right: 50px;
  }
}